/vendor
composer.lock
.env
.phpunit.result.cache
.DS_Store
/.idea
/.vscode
/build
/tests/fixtures/*.json

storage/*.key
Homestead.yaml
Homestead.json
/.vagrant

/public/build
/storage/pail
.env.backup
.env.production
.phpactor.json
auth.json