name: Tests

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php: [8.1, 8.2, 8.3]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: mbstring, json, dom, curl, libxml, zip

      - name: Install dependencies
        run: composer update --prefer-dist --no-progress

      - name: Run PHPUnit tests
        env:
          KOLAYBI_API_KEY: ${{ secrets.KOLAYBI_API_KEY }}
          KOLAYBI_CHANNEL_ID: ${{ secrets.KOLAYBI_CHANNEL_ID }}
          KOLAYBI_SANDBOX: "true"
          KOLAYBI_BASE_URL: "https://ofis-sandbox-api.kolaybi.com"
        run: vendor/bin/phpunit